<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>ReadPao - Take-out reading - ${item.title}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

		<style type="text/css">
			#readPaoMainPageTitle{
				font-size:1.3em; 
				margin:0px 0px 0px 8px; 
				padding:0px 0px 0px 8px; 
				border-bottom: 1px solid #000000;
			}
		</style>
</head>
<body>
<h1 id="readPaoMainPageTitle" >${item.title}</h1>
<div>
	${item.content}
</div>

</body>
</html>