<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>${title}</title>
        <link rel="shortcut icon" href="img/favicon64.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"> </script>
        <script type="text/javascript" src="/js/main.js"> </script>
		
    </head>
    <body>
		<div class="logo">
			<img src="../static/img/logo-mare.png" class="logo"/>
		</div>
		<div class="left">
			<p>readPao helps you take out your reading on your mobile devices.</p>
			
			<p>Haven't got time to finish that article before leaving work?</p>
			<p>Just click the readPao bookmarklet and the article will be available in an easy, clean format for reading on your smart phone, iphone or blackberry.</p>
		</div>
		<div class="right">
			<h2> Install it: </h2>
			<h3> Step 1 </h3>
			Choose a list name:
			<h3> Step 2 </h3>
			Drag and drop the link below to your bookmarks bar.
			<h3> Step 3 </h3>
			Play with it!
			
			<h2> Use it: </h2>
			<h3> Step 1 </h3>
			When you find a nice article that you don't have time to read, click the readPao bookmark button.
			<h4> Step 2 </h4>
			When you find the time, just go to readpao.com/your_list_name and get it back. In a nice to read format. On any device.
		</div>
=== de aici in jos trebuie merged
        <h1 font-size:1.3em; >${title}</h1>
        <form action="#" method="post">
            <label for="list">
                list
            </label>
            <input type="text" id="list" name="list"/>
            <div id="message">
            </div>
        </form>
        <div id="bookmarkletContainer">
            <a href="#" id="bookmarklet">readPao</a>
        </div>
    </body>
</html>
