<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>ReadPao - Take-out reading</title>
        <link rel="shortcut icon" href="img/favicon64.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
        </script>
        <script type="text/javascript" src="/js/main.js">
        </script>
    </head>
    <body>
        <div class="logo">
            <img src="img/logo-mare.png" />
        </div>
        <div class="left">
            <p>
                readPao helps you take out your reading on your mobile devices.
            </p>
            <p>
                Haven't got time to finish that article before leaving work?
            </p>
            <p>
                Just click the readPao bookmarklet and the article will be available in an easy, clean format for reading on your smart phone, iphone or blackberry.
            </p>
        </div>
        <div class="right">
            <h2>Install it: </h2>
            <h3>Step 1 </h3>
            <form action="#" method="post">
                <label for="list">
                    Choose a list name:
                </label><br />
                <input type="text" id="list" name="list"/>
                <span id="message">
                </span>
            </form>
            <h3>Step 2 </h3>
            Drag and drop the link below to your bookmarks bar.
			<div id="bookmarkletContainer">
            	<a href="#" id="bookmarklet">readPao</a>
	        </div>
			<h3>Step 3 </h3>
            Play with it!
			<br/><br/>
			<h2> Use it: </h2>
            <h3>Step 1 </h3>
            When you find a nice article that you don't have time to read, click the readPao bookmark button.<h4>Step 2 </h4>
            When you find the time, just go to readpao.com/your_list_name and get it back. In a nice to read format. On any device.
        
			<br />
			<br />
			<br />
		</div>
		<div id="footer">
	    	<a href="http://www.twitter.com/readpao"><img src="http://twitter-badges.s3.amazonaws.com/follow_bird-c.png" alt="Follow readpao on Twitter"/></a>
        
			<br />
			<br />
			
			<div id="copyright">Copyright &copy; The Team 2009</div>
			<br />
		</div>
    </body>
</html>
