
#bookmarkletContainer {
    display: none;
	margin-top:0.5em;
}

#message {
    display: none;
}

.messageGood {
    color: green;
}

.messageBad {
    color: red;
}

div.logo {
	text-align:center;
}
img.logo {
	width: 300px;
}

div.left {
	float: left;
	width: 42%;
	padding: 10px;
}

div.left p {
	padding: 10px;
}
div.right {
	float: left;
	width: 50%;
	padding: 10px;
	border-left: 2px solid black;
	clear:right;
}
h2{
	margin:0.7em 0em;
}

h3{
	margin:0.7em 0em;
}
h4{
	margin:0.7em 0em;
}
#footer{
	width:100%;
	text-align:center;
	margin-top:20px;
}
#footer a{
	margin-right:160px;

}
#footer div{
	margin-right:160px;
	font-size:12px;
}
